/**
 * WP_resume backend stylesheet.
 * @package wp_resume
 * @since 1.41
 * @h/t Andrew Norcross
 */
 
.placeholder {background: #eee; border: 1px dashed black; margin: 20px 0;}
#wp_resume_form textarea {width: 606px;}

#sections { margin: 20px 0; width: 500px;}
#sections a, #sections a:visited { text-decoration: none; color: #000; }
#sections a:hover {text-decoration: underline; } 
#sections li {
    padding: 10px;	
    font-weight: bold;

	/* for non-css3 browsers */
    background: #f0f0f0; 
    
    /* for IE */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#e7e7e7');
	
	/* for webkit browsers */
	background: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7)); 
	   	
	/* for firefox 3.6+ */
	background: -moz-linear-gradient(top,  #f7f7f7,  #e7e7e7); 
    
    cursor: move;
    border: 1px solid #ddd;
    border-raidus: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#loading-animation { display: none; }
.wp_resume_admin ol li { list-style:decimal;}

/* Projects Form */

.project-form label {
	width: 50%;
	display: inline-block;
}
.project-form label input, .project-form label textarea {
	float: right;
	width: 100%;
}
.project-form label.project-description, .project-form label.project-link {
	width: 100%;
}

li.project-form + li.project-form {
	margin-top: 6px;
	padding-top: 5px;
	border-top: 1px dotted #b5b5b5;
}

.project-form .dashicons {
	margin-left: 8px;
}

.project-form .dashicons:hover {
	color: #0073aa;
}

.project-form .dashicons[disabled] {
	color: #EEE;
}

.project-form .dashicons.project-add {
	color: #0C3;
}

.project-form .dashicons.project-add:hover {
	color: #9D9;
}

.project-form .dashicons.project-remove {
	color: #F03;
}

.project-form .dashicons.project-remove:hover {
	color: #F77;
}